<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <h1 class="title"><%= current_user.username %>'s New Workout</h1>
    <h2 class="subtitle"><%= Time.now.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></h2>
    <p class="subtitle">* Required Fields</p>

    <form method="POST" action="/workouts">
      <div class="field">
        <label class="label">Workout Name *</label>
        <div class="control">
          <input class="input" type="text" name="workout[name]" id="workout[name]">
        </div>
      </div>

      <div class="field">
        <label class="label">Workout Duration (Minutes) *</label>
        <div class="control">
          <input class="input" type="text" name="workout[duration_mins]" id="workout[duration_mins]" placeholder="#">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input class="button is-primary" type="submit" id="submit" value="Submit">
        </div>
        <div class="control">
          <a class="button is-text" href="/">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
