<h1><%= current_user.username %>'s New Workout</h1>
<h2><%= Time.now.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></h2>
<h4>* Fields are Required</h4>
<br>
<form action="/workouts" method="POST">
  <label>Workout Name *</label>
  <input type="text" name="workout[name]" id="workout[name]"><br>

  <label>Workout Duration (Minutes) *</label>
  <input type="text" name="workout[duration_mins]" id="workout[duration_mins]" placeholder="#"><br>

  <input type ="submit" id="submit" value="Submit">
</form>
<br>
<h4><a href="/workouts/<%= session[:workout_id] %>">Back to Workout Page</a></h4>
