<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        User Index
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <% @users.each_with_index do |user, i| %>
      <div class="box">
        <a href="users/<%= user.slug %>"><%= user.username %></a>
      </div>
    <% end %>
  </div>
</section>
