<h1><%= @user.username %>'s Workouts</h1>

<% @user.workouts.each_with_index do |workout, i| %>
  <a href="/workouts/<%= workout.id %>"><%= i + 1 %>. <%= workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p") %></a>
<% end %>
