<div class="columns is-centered">
  <div class="column is-one-third has-text-centered">
    <h1 class="title">Sinatra Workout Tracker</h1>

    <% if logged_in? %>
      <h3>Welcome, <%= current_user.username %>!</h3>
      <a class="button is-primary" href="/users/<%= current_user.slug %>">View Your Profile</a>
      <a class="button is-primary" href="/users">View User Index</a>
    <% else %>
      <a class="button is-primary" href="/login"><strong>Login</strong></a>
      <a class="button is-primary" href="/signup"><strong>Sign Up</strong></a>
    <% end %>
  </div>
</div>
