<h1>Sinatra Workout Tracker</h1>

<% if logged_in? %>
  <h3>Hi, <%= current_user.username %>!</h3>
  <a href="/users">View User Index</a>
  <a href="/users/<%= current_user.slug %>">View Your Profile</a>
<% else %>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
<% end %>
