<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sinatra Workout Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>

    <% if flash[:message] %>
      <div class="notification is-success">
        <strong><%= flash[:message] %></strong>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="notification is-danger">
        <strong><%= flash[:error] %></strong>
      </div>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <% if logged_in? %>
        <div class="navbar-end">
          <a class="navbar-item" href="/workouts/new">
            <strong>Log Workout</strong>
          </a>

          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/logout">
            Logout
          </a>
        </div>
      <% end %>
    </nav>

      <%= yield %>

    <footer>
      <div class="content has-text-centered">
        <a href="https://bulma.io" style="float: right;">
    		  	<img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
    		</a>
        <p>
          &copy; 2019 <strong>SinatraWorkoutTracker</strong> | Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
      </div>
    </footer>

  </body>
</html>
